{% extends 'action/wrapper.html' %}
{% load crispy_forms_tags %}

{% block main_section %}

<h2>Регистрация на сайте</h2>
        <div class="rich_form_box reg_form" >
            
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <div class="submit">
                    <input type="submit" value="Зарегистрироваться" />
                </div> 
                
            </form>
            <br>
            <br>
            <hr>
            
         
            Уже зарегестрированы? <a href="{% url 'user' %}">Войти в личный кабинет</a>

        </div>


<div id="stop"> </div>
<div id="stop"> </div>
<div id="stop"> </div>

{% endblock %}