{% extends 'action/wrapper.html' %}

{% block main_section %}
<section class="home_content">
    <section class="left_col">
        <article> 
            {% for i in text %}
                {{ i.text | safe }}
            {% endfor %}
        </article>
    </section>
    <section class="right_col">
        <aside class="stock">
            <h2>НОВЫЕ АКЦИИ</h2>
            <ul>
                {% for i in slider_small %}
                <li><a href="{% url 'action_detail' i.action.id %}"><img src="/{{ i.img.url }}"/><span>{{ i.action.title }}</span></a></li>
                {% endfor %}      
            </ul>
            <a class="rich_link" href="{% url 'catalog' %}">Каталог скидок</a>               
        </aside>
        
        <aside class="news">
            <h2>НОВОСТИ</h2>
            <ul>
                {% for i in news %}
                <li><a href="{% url 'news-detail' i.id %}">{{ i.title }}</a>
                   {{ i.text | striptags | truncatechars:100 }}</li>
                {% endfor %}                    
            </ul> 
            <a class="rich_link" href="{% url 'news' %}">Все новости</a>               
        </aside>
    </section>
    <div class="clear"></div>
</section>
<div id="stop"> </div>
</div>
{% endblock %}