{% extends 'action/wrapper.html' %}

{% block main_section %}
<section class="content">
    <section class="bread_crumbs">
        <ul><li class="home"><a href="{% url 'index' %}">Главная</a></li><li><a href="{% url 'catalog' %}">Каталог скидок</a></li><li>{{title.name}}</li></ul>        
</section>
<article> 
    <header class="page-header">
        <h1>{{title.name}}</h1>
    </header>
    <div id="tabs_box">
       
        <div id="category_partner01" class="deals entry-content">
            <ul> 
                {% for act in action %}
                        <li >
                            <a href="{% url 'action_detail' act.id %}"><img src="/{{ act.img_title.url }}" alt="" width="470"/></a>
                            <span class="deals_rate">{{ act.sale }}%</span>
                            <a href="{% url 'action_detail' act.id %}" class="deals_name">{{ act.title }}</a>
                        </li>
                {% endfor %}
            </ul>
        </div>
        
        <div id="category_partner02" class="entry-content" style=" display: none;">
                                                  
        </div>
    </div>
</article>
<div id="stop"> </div>
{% endblock %}